<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

            moving_box_hardware/MovingBoxHardware

        </plugin>
    </gazebo>

</robot>
